.ax-ab5-content {
	gap: 24px;
}

.ax-ab5-img-wrap {
	max-width: 526px;
	.item-img {
		clip-path: polygon( 0% 4.827%,0% 4.827%,0.08% 4.044%,0.31% 3.301%,0.679% 2.608%,1.174% 1.976%,1.782% 1.414%,2.491% 0.931%,3.288% 0.539%,4.161% 0.246%,5.097% 0.063%,6.084% 0%,61.407% 0%,61.407% 0%,62.394% 0.063%,63.33% 0.246%,64.203% 0.539%,65% 0.931%,65.709% 1.414%,66.317% 1.976%,66.811% 2.608%,67.18% 3.301%,67.411% 4.044%,67.49% 4.827%,67.49% 24.434%,67.49% 24.434%,67.57% 25.217%,67.801% 25.96%,68.17% 26.652%,68.664% 27.285%,69.272% 27.847%,69.981% 28.33%,70.778% 28.722%,71.651% 29.015%,72.587% 29.198%,73.574% 29.261%,93.916% 29.261%,93.916% 29.261%,94.903% 29.324%,95.839% 29.507%,96.712% 29.8%,97.509% 30.192%,98.218% 30.675%,98.826% 31.237%,99.321% 31.869%,99.69% 32.562%,99.92% 33.305%,100% 34.087%,100% 95.173%,100% 95.173%,99.92% 95.956%,99.69% 96.699%,99.321% 97.392%,98.826% 98.024%,98.218% 98.586%,97.509% 99.069%,96.712% 99.461%,95.839% 99.754%,94.903% 99.937%,93.916% 100%,57.795% 100%,57.795% 100%,56.808% 99.937%,55.872% 99.754%,54.999% 99.461%,54.202% 99.069%,53.493% 98.586%,52.885% 98.024%,52.39% 97.392%,52.021% 96.699%,51.791% 95.956%,51.711% 95.173%,51.711% 71.653%,51.711% 71.653%,51.631% 70.869%,51.4% 70.126%,51.03% 69.432%,50.535% 68.8%,49.925% 68.237%,49.215% 67.754%,48.416% 67.362%,47.542% 67.07%,46.604% 66.888%,45.616% 66.826%,6.095% 66.884%,6.095% 66.884%,5.107% 66.822%,4.169% 66.64%,3.295% 66.348%,2.496% 65.956%,1.786% 65.474%,1.176% 64.911%,0.681% 64.278%,0.311% 63.585%,0.08% 62.841%,0% 62.057%,0% 4.827% );
	}
}

.ax-ab5-client {
	left: 0;
	bottom: 0;
	width: 248px;
	height: 196px;
	padding: 20px;
	position: absolute;
	border-radius: 24px;
	background-color: var(--ax-prime-c5);
	ul {
		display: flex;
	}
	li {
		width: 54px;
		height: 54px;
		overflow: hidden;
		border-radius: 16px;
		margin-left: -16px;
		border: 3px solid var(--ax-prime-c5);
		&:first-child {
			margin-left: 0;
		}
		&:last-child {
			display: flex;
			align-items: center;
			background-color: #fff;
			justify-content: center;
			color: var(--ax-prime-c5);
		}
	}
	.item-text {
		margin-top: 18px;
		h3 {
			color: #fff;
			font-size: 36px;
			line-height: .9;
			font-weight: 600;
			span {
				margin-top: -1px;
				font-family: var(--ax-sora);
			}
		}
		p {
			color: #fff;
			font-weight: 500;
			font-size: 16px;
		}
	}
}

.ax-ab5-text-wrap {
	max-width: 750px;
	.ax-sec-title3 {
		margin-left: -160px;
	}
}

.ax-ab5-text-area{
	margin-top: 32px;
	border-top: 1px solid #E5E5E5;
}

.ax-ab5-text1 {
	padding-top: 30px;
	max-width: 373px;
	border-right: 1px solid #E5E5E5;
}

.ax-ab5-exp {
	display: flex;
	padding-bottom: 46px;
	border-bottom: 1px solid #E5E5E5;
	h3 {
		margin: 0;
		line-height: 1;
		font-size: 88px;
		font-weight: 600;
		letter-spacing: -2px;
		writing-mode: sideways-lr;
	}
	p {
		margin: 0;
		max-height: 180px;
		writing-mode: sideways-lr;
	}
}
.ax-ab5-desc {
	padding-top: 35px;
	padding-left: 30px;
}

.ax-ab5-text2 {
	padding-top: 24px;
	padding-left: 24px;
}

.ax-ab5-mission-card {
	z-index: 1;
	width: 350px;
	height: 174px;
	overflow: hidden;
	position: relative;
	margin-bottom: 26px;
	padding: 0px 15px 18px;
	&:last-child {
		margin-bottom: 0;
	}
	&:before {
		left: 0;
		bottom: 0;
		z-index: -1;
		width: 100%;
		content: '';
		height: 144px;
		position: absolute;
		background-color: #F4F4F5;
		clip-path: polygon( 0% 16.889%,0% 16.889%,0.09% 14.186%,0.351% 11.621%,0.768% 9.23%,1.327% 7.046%,2.014% 5.104%,2.815% 3.438%,3.717% 2.083%,4.703% 1.072%,5.761% 0.441%,6.877% 0.223%,25% 0.223%,34.66% 0.223%,34.66% 0.223%,35.498% 0.387%,36.294% 0.861%,37.035% 1.621%,37.712% 2.639%,38.314% 3.891%,38.831% 5.351%,39.251% 6.992%,39.565% 8.789%,39.76% 10.716%,39.828% 12.748%,39.828% 12.748%,39.896% 14.78%,40.092% 16.707%,40.405% 18.504%,40.825% 20.145%,41.342% 21.605%,41.944% 22.856%,42.621% 23.875%,43.363% 24.635%,44.158% 25.109%,44.996% 25.273%,51.289% 25.273%,55.244% 25.273%,55.244% 25.273%,56.09% 25.108%,56.892% 24.629%,57.641% 23.863%,58.324% 22.835%,58.931% 21.572%,59.452% 20.1%,59.876% 18.444%,60.193% 16.631%,60.39% 14.686%,60.458% 12.637%,60.458% 12.637%,60.528% 10.573%,60.728% 8.617%,61.048% 6.795%,61.477% 5.133%,62.004% 3.657%,62.618% 2.395%,63.308% 1.371%,64.063% 0.614%,64.872% 0.148%,65.724% 0.001%,75% 0.223%,93.123% 0.223%,93.123% 0.223%,94.239% 0.441%,95.297% 1.072%,96.284% 2.083%,97.185% 3.438%,97.986% 5.104%,98.673% 7.046%,99.232% 9.23%,99.649% 11.621%,99.91% 14.186%,100% 16.889%,100% 83.208%,100% 83.208%,99.91% 85.912%,99.649% 88.476%,99.232% 90.867%,98.673% 93.051%,97.986% 94.993%,97.185% 96.659%,96.284% 98.015%,95.297% 99.025%,94.239% 99.657%,93.123% 99.875%,6.877% 99.875%,6.877% 99.875%,5.761% 99.657%,4.703% 99.025%,3.717% 98.015%,2.815% 96.659%,2.014% 94.993%,1.327% 93.051%,0.768% 90.867%,0.351% 88.476%,0.09% 85.912%,0% 83.208%,0% 16.889% );
	}
	.item-icon {
		width: 60px;
		height: 60px;
		margin: 0 auto;
		margin-bottom: 40px;
		border-radius: 20px;
		background-color: var(--ax-title-color2);
	}
	.item-text {
		margin: 0 auto;
		max-width: 285px;
		h3 {
			color: #121212;
			font-size: 24px;
			font-weight: 600;
			line-height: 1.3;
			padding-bottom: 8px;
		}
		p {
			opacity: 0;
			font-size: 16px;
			line-height: 1.5;
			letter-spacing: -0.5px;
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
			overflow: hidden
		}
	}
	&:is(.active) {
		height: 232px;
		&:before {
			height: 215px;
			clip-path: polygon( 0% 11.312%,0% 11.312%,0.09% 9.501%,0.351% 7.784%,0.768% 6.182%,1.327% 4.719%,2.014% 3.419%,2.815% 2.303%,3.717% 1.395%,4.703% 0.718%,5.761% 0.295%,6.877% 0.149%,25% 0.149%,34.66% 0.149%,34.66% 0.149%,35.498% 0.259%,36.294% 0.577%,37.035% 1.085%,37.712% 1.768%,38.314% 2.606%,38.831% 3.584%,39.251% 4.683%,39.565% 5.887%,39.76% 7.177%,39.828% 8.538%,39.828% 8.538%,39.896% 9.899%,40.092% 11.19%,40.405% 12.393%,40.825% 13.493%,41.342% 14.47%,41.944% 15.309%,42.621% 15.991%,43.363% 16.499%,44.158% 16.817%,44.996% 16.927%,51.289% 16.927%,55.244% 16.927%,55.244% 16.927%,56.09% 16.816%,56.892% 16.496%,57.641% 15.982%,58.324% 15.294%,58.931% 14.448%,59.452% 13.462%,59.876% 12.353%,60.193% 11.139%,60.39% 9.836%,60.458% 8.464%,60.458% 8.464%,60.528% 7.082%,60.728% 5.771%,61.048% 4.551%,61.477% 3.438%,62.004% 2.449%,62.618% 1.604%,63.308% 0.918%,64.063% 0.411%,64.872% 0.099%,65.724% 0%,75% 0.149%,93.123% 0.149%,93.123% 0.149%,94.239% 0.295%,95.297% 0.718%,96.284% 1.395%,97.185% 2.303%,97.986% 3.419%,98.673% 4.719%,99.232% 6.182%,99.649% 7.784%,99.91% 9.501%,100% 11.312%,100% 88.753%,100% 88.753%,99.91% 90.564%,99.649% 92.282%,99.232% 93.883%,98.673% 95.346%,97.986% 96.647%,97.185% 97.762%,96.284% 98.67%,95.297% 99.347%,94.239% 99.77%,93.123% 99.916%,6.877% 99.916%,6.877% 99.916%,5.761% 99.77%,4.703% 99.347%,3.717% 98.67%,2.815% 97.762%,2.014% 96.647%,1.327% 95.346%,0.768% 93.883%,0.351% 92.282%,0.09% 90.564%,0% 88.753%,0% 11.312% );
		}
		.item-text {
			p {
				opacity: 1;
			}
		}
	}
}

