.ax-faq5-content {
	z-index: 1;
	margin: 0 auto;
	max-width: 1536px;
	border-radius: 40px;
	background-color: #fff;
	border: 1px solid #E5E5E5;	
	border-top: 10px solid var(--ax-prime-c5);
	.ax-faq5-bg {
		left: 0;
		bottom: 0;
		z-index: -1;
	}
	.ax-price5-top {
		.ax-sec-title3 {
			max-width: 470px;
		}
		.top-desc {
			max-width: 355px;
		}
	}
}

.ax-faq5-area {
	margin: 0 auto;
	max-width: 1296px;
}

.ax-faq5-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	@media #{$lg,$md,$sm,$xs,$xxs} {
		grid-template-columns: 1fr;
	}
	.accordion-item,
	.accordion-button {
		background-color: transparent;
		transition: all 200ms ease-in-out;
	}
	.accordion-item {
		z-index: 1;
		border: none;
		position: relative;
		background-color: transparent;
		&:before {
			top: 0;
			left: 0;
			z-index: -1;
			width: 100%;
			height: 100%;
			content: '';
			opacity: 0;
			position: absolute;
			border-radius: 28px;
			border: 1px solid #E5E5E5;
		}
		@media #{$xxs} { 
			padding: 23px 15px 23px 15px;
		}
		&:is(.active) {
			&:before {
				opacity: 1;
			}
		}
	}
	.accordion-button {
		padding: 0;
		border: none;
		color: #313130;
		margin: 0 auto;
		line-height: 1.5;
		font-size: 18px;
		font-weight: 400;
		position: relative;
		border: 1px solid #E5E5E5;
		font-family: var(--ax-sora);
		padding: 18px 20px 16px;
		border-radius: 28px !important;
		span {
			max-width: 80%;
			display: inline-block;
		}
	}

	.accordion-button:focus {
		box-shadow: none;
	}
	.accordion-body {
		padding: 0px 8px 8px;
		.bi-faq-text {
			color: #fff;
			padding: 24px;
			font-size: 16px;
			border-radius: 28px;
			transition: all 500ms ease-in-out;
			background-color: var(--ax-prime-c5);
		}

	}
	.accordion-button::after {
		top: 20px;
		right: 20px;
		opacity: .7;
		width: 48px;
		height: 48px;
		display: flex;
		font-size: 18px;
		content: '\f078';
		font-weight: 900;
		position: absolute;
		border-radius: 100%;
		align-items: center;
		background-image: none;
		justify-content: center;
		color: #0D1B2A;
		border-radius: 8px;
		background: #2A2A2A14;
		font-family: 'Font Awesome 6 free';
		transition: all 400ms ease;
		backdrop-filter: blur(8px);
		@media #{$lg,$md,$sm,$xs,$xxs} {
			width: 30px;
			height: 30px;
		}
	}
	.accordion-button:not(.collapsed) { 
		color: #000000;
		box-shadow: none;
		span {
			color: #000000;
		}
		i {
			opacity: 1;
		}
		&:after {
			opacity: 1;
			color: #fff;
			content: '\f078';
			background-color: var(--ax-prime-c5);
			@media #{$xxs} {
				background-color: transparent;
			}
		}
	}
}