.ax-hero5-wrap {
	z-index: 1;
	height: 100vh;
	.ax-hero5-bg {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -2;
	}
	.bg-shape {
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
		background: #080927D9;

	}
}
.ax-hero5-content {
	height: 100%;
	margin: 0 auto;
	max-width: 1750px;
	padding-top: 80px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 220px;
	flex-direction: column;
}

.ax-hero5-top {
	width: 100%;
	.item-text {
		color: #fff;
		line-height: 1;
		max-width: 590px;
		font-size: 66px;
		font-weight: 600;
		letter-spacing: -1px;
		font-family: var(--ax-sora);
	}
	.item-video {
		width: 305px;
		height: 200px;
		overflow: hidden;
		border-radius: 32px;
		border: 4px solid #FFFFFF;
	}
}

.ax-hero5-bottom {
	.item-desc {
		max-width: 408px;
		p {
			color: #fff;
			opacity: .8;
			font-size: 18px;
			font-weight: 500;
			padding-bottom: 30px;
			letter-spacing: -.5px;
		}
	}
}