.ax-hero5-wrap {
	z-index: 1;
	height: 100vh;
	min-height: 1080px;
	@media #{$md,$sm,$xs,$xxs} {
		height: 100%;
		min-height: auto;
	}
	.ax-hero5-bg {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -2;
		
	}
	.ax-hero5-shape {
		left: 0;
		z-index: -1;
		width: 100%;
		height: 100%;

	}
}
.ax-hero5-content {
	height: 100%;
	margin: 0 auto;
	max-width: 1750px;
	padding-top: 80px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 220px;
	flex-direction: column;
	@media #{$md,$sm} {
		padding-top: 220px;
		padding-bottom: 80px;
	}
	@media #{$xs,$xxs} {
		padding-top: 180px;
		padding-bottom: 80px;
	}
}

.ax-hero5-top {
	gap: 20px;
	width: 100%;
	@media #{$xs,$xxs} {
		flex-wrap: wrap;
	}
	.item-text {
		color: #fff;
		line-height: 1;
		max-width: 590px;
		font-size: 66px;
		font-weight: 600;
		letter-spacing: -1px;
		font-family: var(--ax-sora);
		@media #{$md} {
			font-size: 50px;
			max-width: 470px;
		}
		@media #{$sm} {
			font-size: 40px;
			max-width: 300px;
		}
		@media #{$xs} {
			font-size: 50px;
		}
		@media #{$xxs} {
			font-size: 40px;
		}

	}
	.item-video {
		width: 305px;
		height: 200px;
		overflow: hidden;
		border-radius: 32px;
		border: 4px solid #FFFFFF;
	}
}

.ax-hero5-bottom {
	@media #{$md,$sm,$xs,$xxs} {
		padding-top: 50px;
	}
	.item-desc {
		max-width: 408px;
		p {
			color: #fff;
			opacity: .8;
			font-size: 18px;
			font-weight: 500;
			padding-bottom: 30px;
			letter-spacing: -.5px;
		}
	}
}