.ax-solution5-sec {
	background-color: #F4F4F5;
}

.ax-solution5-content {
	gap: 30px;
}

.ax-solution5-text {
	max-width: 620px;
}

.ax-solution5-card-wrap {
	max-width: 486px;
}

.ax-sol5-item {
	padding: 40px;
	border-radius: 24px;
	margin-bottom: 25px;
	background-color: #fff;
	.item-serial {
		opacity: .1;
		font-size: 32px;
		font-weight: 600;
		letter-spacing: -.5px;
		font-family: var(--ax-sora);
	}
	.item-text {
		h3 {
			font-size: 22px;
			font-weight: 600;
			max-width: 350px;
			padding-bottom: 16px;
			letter-spacing: -0.5px;
		}
		p {
			opacity: 0.8;
			line-height: 1.8;	
		}
	}
	.item-more {
		margin-top: 40px;
		a {
			width: 48px;
			height: 48px;
			display: flex;
			border-radius: 12px;
			align-items: center;
			justify-content: center;
			background-color: var(--ax-prime-c5);
		}
	}
	&:is(.even_item) {
		background-color: var(--ax-prime-c5);
		.item-serial {
			color: #fff;
		}
		.item-text {
			h3,p {
				opacity: 1;
				color: #fff;
			}
		}
		.item-more {
			a {
				background-color: #fff;
			}
		}
	}
}