@keyframes floatUltra {
	0%   { transform: translate3d(0px, 0px, 0) rotate(0deg); }
	25%  { transform: translate3d(12px, -18px, 0) rotate(2deg); }
	50%  { transform: translate3d(0px, -28px, 0) rotate(0deg); }
	75%  { transform: translate3d(-12px, -18px, 0) rotate(-2deg); }
	100% { transform: translate3d(0px, 0px, 0) rotate(0deg); }
}

.ax-testi5-sec {
	margin: 0px 32px;
	@media #{$xs,$xxs} {
		margin: 0px 12px;
	}
}

.ax-testi5-img-wrapper {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	@media #{$md,$sm,$xs,$xxs} {
		display: none;
	}
	li {
		padding: 6px;
		position: absolute;
		border-radius: 100%;
		will-change: transform;
		border: 1px solid #313130; 
		&:nth-child(1) {
			animation: floatUltra 5s cubic-bezier(0.37, 0, 0.63, 1) infinite;
		}
		&:nth-child(2) {
			animation: floatUltra 7s cubic-bezier(0.37, 0, 0.63, 1) infinite;
		}
		&:nth-child(3) {
			animation: floatUltra 9s cubic-bezier(0.37, 0, 0.63, 1) infinite;
		}
		&:nth-child(4) {
			animation: floatUltra 11s cubic-bezier(0.37, 0, 0.63, 1) infinite;
		}
		&:nth-child(5) {
			animation: floatUltra 13s cubic-bezier(0.37, 0, 0.63, 1) infinite;
		}
		&:nth-child(6) {
			animation: floatUltra 15s cubic-bezier(0.37, 0, 0.63, 1) infinite;
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 100%;
		}
		&:nth-child(1) {
			top: 32px;
			left: 12%;
			width: 140px;
			height: 140px;
			img {
				width: 128px;
				height: 128px;
			}
		}
		&:nth-child(2) {
			left: 32px;
			bottom: 16%;
			width: 80px;
			height: 80px;
			img {
				width: 68px;
				height: 68px;
			}
		}
		&:nth-child(3) {
			left: 20%;
			bottom: 32px;
			width: 100px;
			height: 100px;
			img {
				width: 88px;
				height: 88px;
			}
		}
		&:nth-child(4) {
			top: 32px;
			right: 15%;
			width: 100px;
			height: 100px;
			img {
				width: 88px;
				height: 88px;
			}
		}
		&:nth-child(5) {
			top: 18%;
			width: 80px;
			right: 32px;
			height: 80px;
			img {
				width: 68px;
				height: 68px;
			}
		}
		&:nth-child(6) {
			right: 20%;
			bottom: 32px;
			width: 140px;
			height: 140px;
			img {
				width: 128px;
				height: 128px;
			}
		}
	}
}

.ax-testi5-wrap {
	overflow: hidden;
	padding-left: 15px;
	border-radius: 40px;
	padding-right: 15px;
	background-color: #080927;
}

.ax-testi5-item {
	margin: 0 auto;
	max-width: 660px;
	h3 {
		opacity: 0;
		color: #fff;
		font-size: 24px;
		font-weight: 600;
		visibility: hidden;
		margin-bottom: 30px;
		letter-spacing: -0.5px;
		transform: translateY(30px);
		transition: all 700ms ease-in-out;
	}
	p {
		opacity: 0;
		color: #fff;
		font-size: 20px;
		visibility: hidden;
		transform: translateY(30px);
		transition: all 700ms ease-in-out;
		span {
			opacity: .6;
			display: inline;
			font-weight: 500;
			line-height: 1.7;
		}
	}
	.item-author {
		opacity: 0;
		visibility: hidden;
		margin-top: 60px;
		transform: translateY(30px);
		transition: all 700ms ease-in-out;
		.item-img {
			width: 80px;
			height: 80px;
			padding: 6px;
			margin: 0 auto;
			overflow: hidden;
			margin-bottom: 20px;
			border-radius: 100%;
			border: 1px solid #FFFFFF;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: 100%;
			}
		}
		.item-text {
			h4 {
				color: #fff;
				font-size: 22px;
				font-weight: 600;
				line-height: 1.2;
			}
			span {
				color: #fff;
			}
		}
	}
}

.ax-testi5-nav {
	@media #{$md,$sm,$xs,$xxs} {
		display: flex;
		margin-top: 40px;
		justify-content: center;
	}
}

.ax-tst5-next,
.ax-tst5-prev {
	top: 50%;
	z-index: 2;
	width: 180px;
	height: 180px;
	display: flex;
	cursor: pointer;
	align-items: center;
	position: absolute;
	border-radius: 100%;
	justify-content: end;
	background-color: #fff;
	transform: translateY(-50%);
	@media #{$md,$sm,$xs,$xxs} {
		width: 60px;
		height: 60px;
		position: static;
		transform: translateY(0%);
	}
	i {
		width: 72px;
		height: 72px;
		display: flex;
		margin-left: -30px;
		padding-right: 13px;
		border-radius: 100%;
		align-items: center;
		justify-content: end;
		background-color: #F4F4F5;
		transition: all 500ms ease-in-out;
		svg {
			path {
				transition: all 500ms ease-in-out;
			}
		}
	}
	.inner-item {
		top: 50%;
		left: 50%;
		content: '';
		width: 164px;
		height: 164px;
		display: flex;
		overflow: hidden;
		align-items: center;
		position: absolute;
		border-radius: 100%;
		border: 1px solid #080927;
		transform: translateY(-50%) translateX(-50%);
		@media #{$md,$sm,$xs,$xxs} {
			width: 50px;
			height: 50px;
		}
	}
	&:hover {
		i {
			background-color: var(--ax-prime-c5);
			svg {
				path {
					fill: #fff;
				}
			}
		}
	}
}

.ax-tst5-prev {
	right: -120px;
	justify-content: start;
}

.ax-tst5-next {
	left: -120px;
	justify-content: end;
	.inner-item {
		justify-content: end;
	}
	i {
		margin-left: 0;
		padding-left: 13px;
		margin-right: -30px;
		justify-content: start;
	}
}

.swiper-slide-active {
	.ax-testi5-item {
		h3 {
			opacity: 1;
			visibility: visible;
			transform: translateY(0px);
			transition-delay: 500ms;
		}
		p {
			opacity: 1;
			visibility: visible;
			transform: translateY(0px);
			transition-delay: 800ms;
		}
		.item-author {
			opacity: 1;
			visibility: visible;
			transform: translateY(0px);
			transition-delay: 1100ms;
		}
	}
}