.ax-ab3-sec {
	margin: 0px 20px;
}
.ax-ab3-wrap {
	border-radius: 40px;
	background-color: #F5F4FF;
}

.ax-ab3-top {
	.ax-sec-title2 {
		.sec_title {
			max-width: 785px;
		}
	}
}

.ax-ab3-content {
	gap: 24px;
	@media #{$xxl,$xl,$lg,$md,$sm,$xs,$xxs} {
		justify-content: center;
	}
}

.ax-ab3-img-wrap {
	max-width: 553px;
	.item-img {
		clip-path: polygon( 0% 3.333%,0% 3.333%,0.047% 2.793%,0.184% 2.28%,0.404% 1.801%,0.698% 1.365%,1.059% 0.976%,1.481% 0.643%,1.955% 0.372%,2.474% 0.17%,3.03% 0.044%,3.617% 0%,96.383% 0%,96.383% 0%,96.97% 0.044%,97.527% 0.17%,98.045% 0.372%,98.519% 0.643%,98.941% 0.976%,99.302% 1.365%,99.596% 1.801%,99.816% 2.28%,99.953% 2.793%,100% 3.333%,100% 96.667%,100% 96.667%,99.953% 97.207%,99.816% 97.72%,99.596% 98.199%,99.302% 98.635%,98.941% 99.024%,98.519% 99.357%,98.045% 99.628%,97.527% 99.83%,96.97% 99.956%,96.383% 100%,52.622% 100%,52.622% 100%,52.035% 99.956%,51.479% 99.83%,50.96% 99.628%,50.486% 99.357%,50.065% 99.024%,49.703% 98.635%,49.409% 98.199%,49.19% 97.72%,49.053% 97.207%,49.005% 96.667%,49.005% 64.833%,49.005% 64.833%,48.958% 64.293%,48.821% 63.78%,48.602% 63.301%,48.308% 62.865%,47.946% 62.476%,47.525% 62.143%,47.051% 61.872%,46.532% 61.67%,45.975% 61.544%,45.389% 61.5%,3.617% 61.5%,3.617% 61.5%,3.03% 61.456%,2.474% 61.33%,1.955% 61.128%,1.481% 60.857%,1.059% 60.524%,0.698% 60.135%,0.404% 59.699%,0.184% 59.22%,0.047% 58.707%,0% 58.167%,0% 3.333% );
	}
	.item-exp {
		left: 0;
		bottom: 0;
		width: 247px;
		height: 207px;
		padding: 20px;
		border-radius: 20px;
		position: absolute;
		background-color: #fff;
		h3 {
			color: #051229;
			font-size: 48px;
			font-weight: 700;
			margin-bottom: 26px;
		}
		h4 {
			color: #051229;
			font-size: 20px;
			font-weight: 600;
			padding-bottom: 8px;
		}
	}
}

.ax-ab3-card-wrap {
	width: 100%;
	max-width: 783px;
	@media #{$xxl} {
		max-width: 600px;
	}
}

.ax-ab3-card1 {
	width: 100%;
	margin-bottom: 24px;
	border-radius: 20px;
	background-color: #fff;
	padding: 32px 32px 28px;
	.card-shape {
		top: 40px;
		right: -15px;
	}
	.card-top {
		gap: 95px;
		margin-bottom: 75px;
		h3 {
			line-height: .9;
			font-size: 72px;
			font-weight: 600;
			letter-spacing: -2px;
		}
		.item-desc {
			h4 {
				font-size: 22px;
				font-weight: 600;
				position: relative;
				padding-left: 12px;
				letter-spacing: -1px;
				margin-bottom: 12px;
				&:before {
					top: 0;
					left: 0;
					width: 4px;
					height: 100%;
					content: '';
					position: absolute;
					background-color: var(--ax-prime-c2);
				}
			}
			p {
				max-width: 350px;
			}
		}
	}
	.item-client {
		gap: 24px;
		li {
			width: 60px;
			height: 60px;
			overflow: hidden;
			margin-left: -18px;
			border-radius: 16px;
			border: 4px solid #FFFFFF;
			&:first-child {
				margin-left: 0;
			}
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		p {
			max-width: 185px;
			letter-spacing: -.5px;
			span {
				font-weight: 500;
			}
		}
	}
}
.ax-ab3-card2-wrap {
	gap: 24px;
}
.ax-ab3-card2 {
	width: 100%;
	max-width: 437px;
	border-radius: 20px;
	padding: 40px 32px;
	flex-direction: column;
	background-color: #fff;
	i {
		top: -10px;
		right: -15%;
		position: absolute;
	}
	.item-top {
		h3 {
			font-size: 40px;
			font-weight: 600;
			letter-spacing: -2px;
			padding-bottom: 5px;
		}
		p {
			letter-spacing: -.5px;
		}
	}
	.item-bottom {
		h3 {
			font-size: 24px;
			font-weight: 600;
			letter-spacing: -1px;
			padding-bottom: 5px;
		}
		p {
			letter-spacing: -.5px;
		}
	}
}

.ax-ab3-card3 {
	z-index: 1;
	width: 100%;
	max-width: 322px;
	padding: 30px 32px;
	border-radius: 20px;
	background: linear-gradient(180deg, #343472 0%, #8173E0 100%);
	.ax-pri-shape1 {
		right: -30%;
		bottom: -30%;
		z-index: -1;
		opacity: .5;
	}
	.item-icon {
		margin-bottom: 14px;
	}
	p {
		color: #fff;
		font-size: 22px;
		font-weight: 600;
	}
	h2 {
		color: #fff;
		font-size: 72px;
		line-height: .8;
		font-weight: 600;
		margin-top: 40px;
		letter-spacing: -4px;
	}
}
