.ax-cont3-sec {
	margin: 0px 20px;
	@media #{$xs,$xxs} {
		margin: 0;
	}
}

.ax-cont3-content {
	gap: 24px;
	padding-right: 24px;
	@media #{$lg,$md,$sm,$xs,$xxs} {
		flex-wrap: wrap;
	}
}
.ax-cont3-wrap {
	border-radius: 40px;
	background-color: #F5F4FF;
}

.ax-cont3-text-wrap {
	max-width: 783px;
	flex-direction: column;	
	@media #{$xl} {
		max-width: 550px;
	}
	@media #{$lg,$md,$sm,$xs,$xxs} {
		max-width: 100%;
	}
}

.ax-cont3-card {
	width: 100%;
	margin: 0 auto;
	margin-left: 24px;
	max-width: 759px;
	padding-top: 30px;
	border-radius: 32px;
	background-color: #fff;
	@media #{$lg,$md,$sm,$xs,$xxs} {
		margin-left: 0;
		max-width: 100%;
	}
}

.ax-ct3-item {
	margin: 0px 4px;
	border-radius: 40px;
	display: inline-block;
	background-color: #fff;
	padding: 4px 20px 4px 4px;
	border: 1px solid #00000014;
	.item-inner {
		gap: 8px;
		display: flex;
		align-items: center;
		.item-icon {
			width: 52px;
			height: 52px;
			display: flex;
			border-radius: 100%;
			align-items: center;
			background: #9588F826;
			justify-content: center;
		}
		.item-text {
			font-size: 18px;
			font-weight: 500;
			letter-spacing: -1px;
			color: var(--ax-title-color2);
		}
	}
}

.ax-cont3-marque {
	position: relative;
	border-radius: 32px;
	padding: 32px 32px 40px;
	background-color: #F5F4FF;
	border-bottom: 6px solid #9588F8;
	&:before,
	&:after {
		top: 0;
		left: 0;
		z-index: 1;
		width: 80px;
		height: 100%;
		content: '';
		position: absolute;
		background: linear-gradient(270deg, rgba(245, 244, 255, 0) 0%, rgba(245, 244, 255, 0.75) 24.72%, rgba(245, 244, 255, 0.9) 50.41%, #F5F4FF 75.01%, #F5F4FF 100%);
	}
	&:after {
		right: 0;
		left: auto;
		transform: rotate(-180deg);
	}
}
.ax-cont3-left,
.ax-cont3-right {
	display: flow-root;
}

.ax-cont3-form {
	width: 100%;
	max-width: 529px;
	border-radius: 24px;
	background-color: #fff;
	@media #{$lg,$md,$sm,$xs,$xxs} {
		max-width: 100%;
	}
	h3 {
		color: #fff;
		display: flex;
		font-size: 26px;
		font-weight: 600;
		border-radius: 16px;
		margin-bottom: 45px;
		padding: 48px 32px 42px 25px;
		justify-content: space-between;
		background: linear-gradient(180deg, #343472 0%, #8173E0 100%);
		i {
			@media #{$xs,$xxs} {
				display: none;
			}
		}
	}
	form {
		padding: 0px 40px 40px;
		@media #{$xs,$xxs} {
			padding-left: 20px;
			padding-right: 20px;
		}
	}
	label {
		display: block;
		margin-bottom: 10px;
		color: var(--ax-title-color2);
	}
	input,textarea {
		width: 100%;
		height: 50px;
		color: #313130;
		margin-bottom: 24px;
		border-radius: 12px;
		padding-left: 12px;
		border: 1px solid #83838324;
		transition: all 500ms ease-in-out;
		&::placeholder {
			opacity: .5;
			color: #313130;
		}
		&:focus {
			border: 1px solid var(--ax-title-color2);
		}
	}
	textarea {
		height: 176px;
		padding-top: 12px;
	}
	button {
		color: #fff;
		width: 100%;
		padding: 0;
		height: 50px;
		border:  none;
		font-weight: 500;
		border-radius: 12px;
		transition: all 500ms ease-in-out;
		background-color: var(--ax-prime-c3);
		&:hover {
			letter-spacing: 2px;
		}
	}
}

.ax-cont3-content {
	z-index: 1;
	.ax-cont3-bg {
		left: 0;
		width: 100%;
		z-index: -1;
		height: 75%;
		bottom: 110px;
		overflow: hidden;
		border-radius: 24px;
		@media #{$xs,$xxs} {
			display: none;
		}
	}
}