.ax-hero3-item {
	position: relative;
	padding: 328px 0px 284px;
	@media #{$md} {
		padding: 200px 0px 0px;
	}
	@media #{$sm} {
		padding: 180px 0px 0px;
	}
	@media #{$xs} {
		padding: 150px 0px 0px;
	}
	@media #{$xxs} {
		padding: 150px 0px 0px;
	}
	.hero_shape {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		&:before,
		&:after {
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			content: '';
			opacity: .8;
			max-width: 487px;
			position: absolute;
			background: linear-gradient(90deg, #081B44 0%, rgba(8, 27, 68, 0) 100%);
		}
		&:after {
			right: 0;
			left: auto;
			background: linear-gradient(-90deg, #081B44 0%, rgba(8, 27, 68, 0) 100%);
		}
	}
	.ax-hr3-bg {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		img {
			transition: all 7000ms ease-in-out;
		}
		&:before {
			top: 0;
			left: 0;
			z-index: 1;
			width: 100%;
			height: 100%;
			content: '';
			position: absolute;
			background: linear-gradient(90deg, #081B44 0%, rgba(8, 27, 68, 0) 100%);
		}
		&:after {
			left: 0;
			bottom: 0;
			content: '';
			z-index: 1;
			width: 100%;
			height: 100%;
			position: absolute;
			background: linear-gradient(-90deg, #081B44 0%, rgba(8, 27, 68, 0) 100%);
		}
	}
	.container {
		max-width: 1605px;
		@media #{$xxxl,$xxl,$xl,$lg,$md,$sm,$xs,$xxs} {
			max-width: 1384px;
		}
	}
	.ax-hr3-side1 {
		top: 55%;
		right: 0;
		width: 200px;
		height: 581px;
		position: absolute;
		border: 10px solid #FFFFFF33;
		transform: translateY(-50%);
		border-right: 0;
		.item-img {
			transition: all 500ms ease-in-out;
			clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
			img {
				transform: scale(1.3);
				transition: all 400ms ease-in-out;
			}
		}
		&:before {
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			content: '';
			position: absolute;
			background: #00002266;
		}
		@media #{$md,$sm,$xs,$xxs} {
			display: none !important;
		}
	}
	.ax-hr3-side2 {
		top: 55%;
		right: 105px;
		width: 190px;
		height: 437px;
		padding: 24px;
		display: flex;
		position: absolute;
		flex-direction: column;
		transform: translateY(-50%);
		border-right: 4px solid #fff;
		justify-content: space-between;
		background: linear-gradient(90deg, #343472 0%, #8173E0 100%);
		@media #{$md,$sm,$xs,$xxs} {
			display: none !important;
		}
		.ax-hr3-shape3 {
			left: -40%;
			top: 58%;
			width: 200%;
			position: absolute;
			transform: translateY(-50%);
		}
		span {
			color: #fff;
			font-size: 40px;
			font-weight: 700;
			font-family: var(--ax-dm);
		}
		.hr3-arrow  {
			color: #fff;
			display: flex;
			font-size: 16px;
			font-weight: 500;
			justify-content: space-between;
		}
	}
	.ax-hr3-side3 {
		left: 0;
		top: 55%;
		width: 90px;
		height: 581px;
		position: absolute;
		transform: translateY(-50%);
		@media #{$xxl,$xl,$lg,$md,$sm,$xs,$xxs} {
			display: none;
		}
		.item-img {
			width: 60px;
			height: 100%;
			overflow: hidden;
			position: relative;
			img {
				transform: scale(1.3);
				clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
				transition: all 400ms ease-in-out;
			}
			&:before {
				top: 0;
				left: 0;
				z-index: 1;
				width: 100%;
				content: '';
				height: 100%;
				position: absolute;
				border: 10px solid #FFFFFF33;
				border-left: 0;
			}
		}
		.item-shape {
			top: 50%;
			right: 0;
			height: 82%;
			width: 30px;
			z-index: 1;
			position: absolute;
			border-right: 4px solid #fff;
			transform: translateY(-50%);
			background: linear-gradient(270deg, #343472 0%, #8173E0 100%);
		}
	}
	.ax-hr3-img3 {
		bottom: 0;
		right: 256px;
		transform: translateY(100%);
		transition: all 1500ms ease-in-out;
		@media #{$md,$sm,$xs,$xxs} {
			margin-top: 40px;
			position: static !important;
		}
	}
}

.ax-hr3-text {
	z-index: 2;
	max-width: 650px;
	position: relative;
	.slide-numb {
		opacity: 0;
		font-size: 24px;
		font-weight: 700;
		padding-left: 52px;
		position: relative;
		visibility: hidden;
		letter-spacing: -1px;
		margin-bottom: 15px;
		color: var(--ax-prime-c3);
		transform: translateX(30px);
		transition: all 800ms ease-in-out;
		&:before {
			left: 0;
			top: 15px;
			width: 40px;
			height: 3px;
			content: '';
			position: absolute;
			background-color: #fff;
		}
	}
	.hero_title {
		color: #fff;
		font-size: 70px;
		line-height: 1.14;
		font-weight: 800;
		margin-bottom: 12px;
		letter-spacing: -2px;
		.split-line {
			overflow: hidden;
			transform: translateY(100%) scaleY(-0.6);
			opacity: 0;
			padding-bottom: 5px;
			transition:  .8s var(--cube-1);
			transition-delay: 0s;
		}
		@media #{$sm} {
			font-size: 60px;
		}
		@media #{$xs} {
			font-size: 50px;
		}
		@media #{$xxs} {
			font-size: 45px;
		}
		span {
			color: var(--ax-prime-c3);
		}
	}
	p {
		opacity: 0;
		color: #fff;
		visibility: hidden;
		padding-bottom: 30px;
		transform: translateX(30px);
		transition: all 800ms ease-in-out;
	}
	.hr3-btn-wrap {
		gap: 12px;
		opacity: 0;
		visibility: hidden;
		transform: translateX(30px);
		transition: all 800ms ease-in-out;
		.btn_1 {
			color: #fff;
			font-weight: 500;
			padding: 10px 20px;
			border-radius: 14px;
			letter-spacing: -0.5px;
			border: 1px solid #FFFFFF;
		}
	}
}

.ax-hr3-sponsor {
	right: 60px;
	width: 100%;
	z-index: 2;
	bottom: 40px;
	max-width: 778px;
	position: absolute;
	@media #{$md,$sm,$xs,$xxs} {
		left: 0;
		right: 0;
		bottom: 30px;
		max-width: 0 auto;
	}
}
.ax-hr3-spon-left {
	display: flow-root;
	&:before {
		top: 0;
		right: 0;
		width: 20%;
		height: 100%;
		content: '';
		position: absolute;
		background: linear-gradient(-90deg, #081B44 0%, #081B44 24.82%, #081B44 50.38%, rgba(8, 27, 68, 0) 75.46%, rgba(255, 255, 255, 0) 100%);
	}
	.item-img {
		cursor: pointer;
		margin: 0px 20px;
		position: relative;
		display: inline-block;
		.img_1 {
			transition: all 500ms ease-in-out;
		}
		.img_2 {
			top: 0;
			left: 0;
			opacity: 0;
			position: absolute;
			transition: all 500ms ease-in-out;
		}
		&:hover {
			.img_1 {
				opacity: 0;
			}
			.img_2 {
				opacity: 1;
			}
		}
	}
}

.swiper-slide-active {
	.ax-hero3-item {
		.ax-hr3-bg {
			img {
				transform: scale(1.4);
			}
		}
		.ax-hr3-text {
			.hero_title {
				.split-line {
					transform: translateY(0%) scaleY(1);
					opacity: 1;
					transition-delay: 0.7s;
					&:nth-child(2) {
						transition-delay: 0.9s;
					}
					&:nth-child(3) {
						transition-delay: 1.1s;
					}
					&:nth-child(4) {
						transition-delay: 1.3s;
					}
					&:nth-child(5) {
						transition-delay: 1.5s;
					}
				}
			}
			.slide-numb,p,.hr3-btn-wrap { 
				opacity: 1;
				visibility: visible;
				transform: translateX(0);
				transition-delay: 200ms;
			}
			p {
				transition-delay: 400ms;
			}
			.hr3-btn-wrap {
				transition-delay: 600ms;
			}
		}
		.ax-hr3-side1 { 
			.item-img {
				clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
				img {
					transform: scale(1.0);
				}
			}
		}
		.ax-hr3-side3 {
			.item-img {
				img {
					clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
				}
			}
		}
		.ax-hr3-img3 {
			transform: translateY(0);
		}
	}
}