.ax-hero3-item {
	position: relative;
	padding: 328px 0px 284px;
	.hero_shape {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		&:before,
		&:after {
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			content: '';
			opacity: .8;
			max-width: 487px;
			position: absolute;
			background: linear-gradient(90deg, #081B44 0%, rgba(8, 27, 68, 0) 100%);
		}
		&:after {
			right: 0;
			left: auto;
			background: linear-gradient(-90deg, #081B44 0%, rgba(8, 27, 68, 0) 100%);
		}
	}
	.ax-hr3-bg {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		&:before {
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			content: '';
			position: absolute;
			background: linear-gradient(90deg, #081B44 0%, rgba(8, 27, 68, 0) 100%);
		}
		&:after {
			left: 0;
			bottom: 0;
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			background: linear-gradient(-90deg, #081B44 0%, rgba(8, 27, 68, 0) 100%);
		}
	}
	.container {
		max-width: 1605px;
	}
	.ax-hr3-side1 {
		top: 55%;
		right: 0;
		width: 200px;
		height: 581px;
		position: absolute;
		border: 10px solid #FFFFFF33;
		transform: translateY(-50%);
		border-right: 0;
		&:before {
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			content: '';
			position: absolute;
			background: #00002266;
		}
	}
	.ax-hr3-side2 {
		top: 55%;
		right: 105px;
		width: 190px;
		height: 437px;
		padding: 24px;
		display: flex;
		position: absolute;
		flex-direction: column;
		transform: translateY(-50%);
		border-right: 4px solid #fff;
		justify-content: space-between;
		background-color: var(--ax-prime-c2);
		.ax-hr3-shape3 {
			left: -40%;
			top: 58%;
			width: 200%;
			position: absolute;
			transform: translateY(-50%);
		}
		span {
			color: #fff;
			font-size: 40px;
			font-weight: 700;
			font-family: var(--ax-dm);
		}
		.hr3-arrow  {
			color: #fff;
			display: flex;
			font-size: 16px;
			font-weight: 500;
			justify-content: space-between;
		}
	}
	.ax-hr3-side3 {
		left: 0;
		top: 55%;
		width: 90px;
		height: 581px;
		position: absolute;
		transform: translateY(-50%);
		.item-img {
			width: 60px;
			height: 100%;
			position: relative;
			&:before {
				top: 0;
				left: 0;
				width: 100%;
				content: '';
				height: 100%;
				position: absolute;
				border: 10px solid #FFFFFF33;
				border-left: 0;
			}
		}
		.item-shape {
			top: 50%;
			right: 0;
			height: 82%;
			width: 30px;
			position: absolute;
			border-right: 4px solid #fff;
			background-color: var(--ax-prime-c2);
			transform: translateY(-50%);
		}
	}
	.ax-hr3-img3 {
		bottom: 0;
		right: 256px;
	}
}

.ax-hr3-text {
	max-width: 650px;
	.slide-numb {
		font-size: 24px;
		font-weight: 700;
		padding-left: 52px;
		position: relative;
		letter-spacing: -1px;
		margin-bottom: 15px;
		color: var(--ax-prime-c3);
		&:before {
			left: 0;
			top: 15px;
			width: 40px;
			height: 3px;
			content: '';
			position: absolute;
			background-color: #fff;
		}
	}
	.hero_title {
		color: #fff;
		font-size: 70px;
		line-height: 1.14;
		font-weight: 800;
		margin-bottom: 12px;
		letter-spacing: -2px;
		span {
			color: var(--ax-prime-c3);
		}
	}
	p {
		color: #fff;
		padding-bottom: 30px;
	}
	.hr3-btn-wrap {
		gap: 12px;
		.btn_1 {
			color: #fff;
			font-weight: 500;
			padding: 10px 20px;
			border-radius: 14px;
			letter-spacing: -0.5px;
			border: 1px solid #FFFFFF;
		}
	}
}

.ax-hr3-sponsor {
	right: 60px;
	width: 100%;
	z-index: 2;
	bottom: 40px;
	max-width: 778px;
	position: absolute;
}
.ax-hr3-spon-left {
	display: flow-root;
	&:before {
		top: 0;
		right: 0;
		width: 20%;
		height: 100%;
		content: '';
		position: absolute;
		background: linear-gradient(-90deg, #081B44 0%, #081B44 24.82%, #081B44 50.38%, rgba(8, 27, 68, 0) 75.46%, rgba(255, 255, 255, 0) 100%);
	}
	.item-img {
		cursor: pointer;
		margin: 0px 20px;
		position: relative;
		display: inline-block;
		.img_1 {
			transition: all 500ms ease-in-out;
		}
		.img_2 {
			top: 0;
			left: 0;
			opacity: 0;
			position: absolute;
			transition: all 500ms ease-in-out;
		}
		&:hover {
			.img_1 {
				opacity: 0;
			}
			.img_2 {
				opacity: 1;
			}
		}
	}
}