.ax-ins-work-p {
	margin: 0px 20px;
	background-color: #F5F4FF;
	border-bottom-left-radius: 40px;
	border-bottom-right-radius: 40px;
	@media #{$md,$sm,$xs,$xxs} {
		margin: 0;
	}
}


.ax-increase-wrap {
	z-index: 1;
	overflow: hidden;
	border-radius: 40px;
	.ax-ins-bg {
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
		&:before {
			top: 0;
			left: 0;
			width: 100%;
			content: '';
			height: 100%;
			opacity: .9;
			position: absolute;
			background-color: #05002C;
		}
	}
}
.ax-increase-content {
	gap: 40px;
	@media #{$md,$sm,$xs,$xxs} {
		flex-wrap: wrap;
	}
}

.ax-increase-text-wrap {
	width: 100%;
	max-width: 553px;
	@media #{$md,$sm,$xs,$xxs} {
		max-width: 100%;
	}
	.item-number {
		margin-bottom: 44px;
		h3 {
			color: #fff;
			font-size: 80px;
			line-height: .9;
			font-weight: 600;
			letter-spacing: -3px;
			padding-bottom: 10px;
		}
		span {
			color: #E5E5E5;
			font-size: 18px;
			font-weight: 500;
			letter-spacing: -1px;
		}
	}
	.item-text {
		h3 {
			color: #fff;
			line-height: .9;
			font-size: 100px;
			font-weight: 600;
			letter-spacing: -4px;
			padding-bottom: 10px;
		}
		p {
			opacity: .8;
			color: #fff;
			letter-spacing: -1px;
		}
		.ax-btn2 {
			&:is(.ver_5) {
				span {
					color: #000000;
					background-color: #fff;
				}
				i {
					background-color: var(--ax-prime-c3);
				}
			}
		}
	}
	.item-growth {
		h3 {
			color: #fff;
			font-size: 20px;
			font-weight: 500;
			padding-left: 15px;
			position: relative;
			letter-spacing: -1px;
			margin-bottom: 10px;
			&:before {
				top: 0;
				left: 0;
				width: 4px;
				height: 100%;
				content: '';
				position: absolute;
				background-color: var(--ax-prime-c3);
			}
		}
		p {
			color: #E5E5E5;
			font-size: 17px;
			max-width: 370px;
			letter-spacing: -1px;
		}
	}
}

.ax-increase-progress {
	width: 100%;
	max-width: 691px;
	@media #{$md,$sm,$xs,$xxs} {
		max-width: 100%;
	}
}

.ax-ins-pro-bar {
	height: 108px;
	margin-top: -24px;
	.item-inner {
		border-radius: 20px;
		padding: 16px 32px 28px;
		background-color: var(--ax-prime-c3);
		transform: translateX(100%);
		transition: all 500ms ease-in-out;
		@media #{$xs,$xxs} {
			gap: 20px;
			width: 100% !important;
		}
		b {
			color: #fff;
			font-size: 32px;
			font-weight: 600;
			font-family: var(--ax-dm);
		}
		span {
			color: #fff;
			font-size: 18px;
			font-weight: 500;
		}
	}
	&:nth-child(1) {
		margin-top: 0;
	}
	&:last-child {
		.item-inner {
			padding-top: 32px;
		}
	}
	&:nth-child(even) {
		.item-inner {
			background-color: #fff;
			transition-delay: 150ms;
			b,span {
				color: var(--ax-title-color2);
			}
		}
	}
}

.ax-increase-pro-wrap {
	&:is(.active) {
		.ax-ins-pro-bar {
			.item-inner {
				transform: translateX(0%);
			}
		}
	}
}

.ax-increase-list {
	margin-top: 38px;
	ul {
		max-width: 500px;
		text-align: center;
		li {
			font-weight: 500;
			margin: 0px 15px;
			position: relative;
			margin-bottom: 10px;
			color: rgba(229, 229, 229, .8);
			transition: all 500ms ease-in-out;
			&:before {
				top: 9px;
				left: -20px;
				width: 6px;
				height: 6px;
				content: '';
				position: absolute;
				border-radius: 100%;
				transition: all 500ms ease-in-out;
				background-color: rgba(229, 229, 229, .8);
			}
			&:hover {
				color:  rgba(255, 255, 255, 1);
				&:before {
					background-color: rgba(255, 255, 255, 1);
				}
			}
		}
	}
}