.ax-project3-sec {
	.ax-blg2-top {
		.ax-sec-title2 {
			max-width: 550px;
		}
	}
}

.ax-project3-slider {
	max-width: 202%;
	margin-left: -51%;
	margin-right: -51%;
	@media #{$md,$sm,$xs,$xxs} {
		max-width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
}

.ax-project3-item {
	width: 100%;
	max-width: 668px;
	position: relative;
	padding-bottom: 126px;
	@media #{$md,$sm,$xs,$xxs} {
		margin: 0 auto;
	}
	@media #{$xs,$xxs} { 
		padding-bottom: 0;
	}
	.item-img {
		overflow: hidden;
		border-radius: 20px;
		img {
			transition: all 500ms ease-in-out;
		}
	}
	.item-text {
		left: 40px;
		opacity: 0;
		bottom: 15%;
		visibility: hidden;
		max-width: 414px;
		position: absolute;
		border-radius: 20px;
		padding: 40px 40px 24px;
		background: linear-gradient(180deg, #343472 0%, #8173E0 100%);
		border: 4px solid #fff;
		border-bottom: none;
		transition: all 500ms ease-in-out;
		@media #{$xs,$xxs} { 
			width: 100%;
			max-width: 100%;
			position: static;
		}
		h3 {
			color: #fff;
			font-size: 24px;
			font-weight: 600;
			letter-spacing: -1px;
			padding-bottom: 10px;
		}
		p {
			color: #fff;
			padding-bottom: 22px;
			letter-spacing: -.5px;
		}
		.read_more {
			color: #fff;
			width: 100%;
			text-align: center;
			border-radius: 12px;
			padding: 10px 15px;
			background-color: #FFFFFF33;
		}
	}
}
.swiper-slide-next {
	.ax-project3-item {
		.item-text {
			bottom: 0;
			opacity: 1;
			visibility: visible;
			transition-delay: 100ms;
		}
		.item-img {
			img {
				transform: scale(1.1);
				transition-delay: 250ms;
			}
		}
	}
}
.swiper-slide-active {
	.ax-project3-item {
		@media #{$md,$sm,$xs,$xxs} {
			.item-text {
				bottom: 0;
				opacity: 1;
				visibility: visible;
				transition-delay: 100ms;
			}
		}
	}
}
.ax-pro3-nav-arrow {
	z-index: 2;
	margin-top: -78px;
	position: relative;
	@media #{$md,$sm,$xs,$xxs} {
		margin-top: 30px;
		justify-content: center !important;
	}
	.nav-arrow  {
		gap: 25px;
		@media #{$xs,$xxs} {
			gap: 15px;
		}
	}
	.ax-pro3-prev,
	.ax-pro3-next {
		width: 48px;
		height: 48px;
		border-radius: 16px;
		border: 1px solid #9BA0A9;
		transition: all 300ms ease-in-out;
		@media #{$xs,$xxs} {
			display: none !important;
		}
		svg {
			path {
				transition: all 300ms ease-in-out;
			}
		}
		&:hover {
			border: 1px solid var(--ax-prime-c3);
			background-color: var(--ax-prime-c3);
			svg {
				path {
					fill: #fff;
				}
			}
		}
	}
}

.ax-pro3-pagi {
	display: flex;
	width: auto !important;
	.swiper-pagination-bullet {
		width: 32px;
		opacity: 1;
		height: 32px;
		position: relative;
		margin: 0 !important;
		border: 1px solid transparent;
		transition: all 300ms ease-in-out;
		background-color: transparent !important;
		&:before {
			top: 11px;
			left: 11px; 
			width: 8px;
			height: 8px;
			content: '';
			opacity: 0.4;
			position: absolute;
			border-radius: 100%;
			transition: all 300ms ease-in-out;
			background-color: var(--ax-title-color2);
		}
		&:is(.swiper-pagination-bullet-active) {
			border: 1px solid var(--ax-prime-c3);
			&:before {
				opacity: 1;
				background-color: var(--ax-prime-c3);
			}
		}
	}
}