.ax-team3-content {
	padding: 12px;
	display: grid;
	margin-top: -50px;
	border-radius: 40px;
	background-color: #EDF2F8;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	&:is(.active) {
		.ax-team4-item {
			.item-inner-wrap {
				transform: translateX(0);
			}
		}
	}
}

.ax-team4-item {
	.item-inner-wrap {
		width: 100%;
		height: 400px;
		max-width: 362px;
		position: relative;
		border-radius: 30px;
		border: 6px solid #FFFFFF;
		transition: 1200ms cubic-bezier(0.5, -0.2, 0.3, 1);
		.item-img {
			overflow: hidden;
			border-radius: 30px;
		}
		.item-text {
			left: 0;
			right: 0;
			width: 95%;
			opacity: 0;
			bottom: 12px;
			padding: 10px;
			margin: 0 auto;
			text-align: center;
			position: absolute;
			border-radius: 20px;
			background-color: #fff;
			h3 {
				font-size: 20px;
				font-weight: 500;
				letter-spacing: -1px;
				padding-bottom: 10px;
				font-family: var(--ax-inter);
				color: var(--ax-title-color2);
			}
			span {

			}
		}
		&:hover {
			.item-text {
				opacity: 1;
			}
		}
	}
	&:is(._1) {
		.item-inner-wrap {
			transform: translateX(203%);
		}
	}
	&:is(._2) {
		.item-inner-wrap {
			transform: translateX(101%);
		}
	}
	&:is(._4) {
		.item-inner-wrap {
			transform: translateX(-101%);
		}
	}
	&:is(._5) {
		.item-inner-wrap {
			transform: translateX(-204.5%);
		}
	}
}