.ax-testi3-sec {
	.ax-blg2-top {
		.ax-sec-title2 {
			max-width: 500px;
		}
		.top_desc {
			max-width: 475px; 
		}
	}
}
.ax-testi3-content {
	gap: 12px;
}
.ax-testi3-card1 {
	width: 100%;
	max-width: 366px;
	border-radius: 32px;
	padding: 40px 40px 37px;
	background-color: var(--ax-title-color2);
	h3 {
		color: #fff;
		line-height: .7;
		font-size: 120px;
		font-weight: 700;
		padding-block: 20px;
	}
	.item-rate {
		li {
			color: #F9B700;
		}
	}
	.item-logo {
		span {
			color: #fff;
			display: block;
			padding-bottom: 10px;
		}
	}
	.item-client {
		ul {
			display: flex;
			margin-bottom: 10px;
			justify-content: center;
		}
		li {
			width: 40px;
			height: 40px;
			overflow: hidden;
			margin-left: -10px;
			border-radius: 12px;
			border: 2px solid #041427;
			&:nth-child(1) {
				margin-left: 0;
			}
		}
		span {
			color: #fff;
		}
	}
}

.ax-testi3-slider-wrap {
	width: 100%;
	max-width: 1365px;
	margin-right: -30%;
}

.ax-testi3-slider {
	margin-right: -10%;
}


.ax-testi3-item {
	width: 100%;
	padding: 12px;
	display: flex;
	flex-wrap: wrap;
	max-width: 366px;
	border-radius: 32px;
	background-color: #F5F4FF;
	.item-top {
		gap: 14px;
		width: 100%;
		padding: 24px;
		border-radius: 24px;
		background-color: #fff;
		.item-img {
			width: 60px;
			height: 60px;
			overflow: hidden;
			border-radius: 12px;
		}
		.item-text {
			h3 {
				font-size: 20px;
				font-weight: 500;
				padding-bottom: 4px;
			}
			span {
				opacity: .8;
				letter-spacing: -.5px;
			}
		}
	}
	.item-bottom {
		padding: 24px;
		height: 348px;
		display: flex;
		border-radius: 24px;
		background-color: #FFFFFF;
		justify-content: space-between;
		border-top: 1px solid #EDF2F8;
		border-bottom: 1px solid #EDF2F8;
		flex-direction: column;
		p {
			font-size: 20px;
			font-weight: 500;
			line-height: 1.5;
			letter-spacing: -.5px;
			color: var(--ax-title-color2);
		}
	}
	.rate-num {
		gap: 5px;
		font-size: 22px;
		font-weight: 600;
		letter-spacing: -1px;
		color: var(--ax-title-color2);
		i {
			color: #F9B700;
		}
		span {
			font-size: 16px;
			font-weight: 500;	
		}	
	}
}



.swiper-slide {
	&:nth-child(even) {
		.ax-testi3-item {
			flex-direction: column-reverse;
		}
	}
}

.ax-testi3-bottom {
	.rate-text {
		gap: 32px;
		p {
			font-size: 18px;	
			font-weight: 500;
			letter-spacing: -.5px;
		}
		.info-rate {
			gap: 12px;
			.ic-icon {
				width: 48px;
				height: 48px;
				display: flex;
				border-radius: 100%;
				align-items: center;
				justify-content: center;
				background-color: var(--ax-prime-c3);
			}
			.rate-icon {
				li {
					color: #F9B700;
				}
				span {
					letter-spacing: -.5px;
					color: var(--ax-title-color2);
				}
			}
		}
	}
}

.ax-testi3-nav-arrow {
	.nav-arrow  {
		gap: 25px;
	}
	.ax-testi3-prev,
	.ax-testi3-next {
		width: 48px;
		height: 48px;
		border-radius: 16px;
		border: 1px solid #9BA0A9;
		transition: all 300ms ease-in-out;
		svg {
			path {
				transition: all 300ms ease-in-out;
			}
		}
		&:hover {
			border: 1px solid var(--ax-prime-c3);
			background-color: var(--ax-prime-c3);
			svg {
				path {
					fill: #fff;
				}
			}
		}
	}
}

.ax-testi3-pagi {
	display: flex;
	width: auto !important;
	.swiper-pagination-bullet {
		width: 32px;
		opacity: 1;
		height: 32px;
		position: relative;
		margin: 0 !important;
		border: 1px solid transparent;
		transition: all 300ms ease-in-out;
		background-color: transparent !important;
		&:before {
			top: 11px;
			left: 11px; 
			width: 8px;
			height: 8px;
			content: '';
			opacity: 0.4;
			position: absolute;
			border-radius: 100%;
			transition: all 300ms ease-in-out;
			background-color: var(--ax-title-color2);
		}
		&:is(.swiper-pagination-bullet-active) {
			border: 1px solid var(--ax-prime-c3);
			&:before {
				opacity: 1;
				background-color: var(--ax-prime-c3);
			}
		}
	}
}