.ax-trigger-section {
	margin: 0px 20px;
	overflow: hidden;
	border-radius: 40px;
	background-color: #F5F4FF;
}
.ax-whyc3-sec {
	.ax-sec-title2 {
		margin: 0 auto;
		max-width: 600px;
	}
}
.ax-whyc3-content {
	gap: 12px;
	z-index: 2;
	margin: 0 auto;
	display: grid;
	max-width: 852px;
	margin-top: 60px;
	position: relative;
	grid-template-columns: 1fr 1fr;
	@media #{$xs,$xxs} {
		grid-template-columns: 1fr;
	}
}
.ax-whyc3-item {
	height: 220px;
	padding: 28px;
	border-radius: 24px;
	background-color: #fff;
	flex-direction: column;
	.item-numb {
		h3 {
			font-weight: 600;
			font-size: 60px;
			line-height: .8;
			letter-spacing: -4px;
		}
	}
	.item-text {
		span {
			max-width: 110px;
			font-weight: 600;
			font-family: var(--ax-dm);
		}
	}
	&:is(._1),
	&:is(._4) {
		background-color: var(--ax-title-color2);
		.item-numb {
			h3 {
				color: #fff;
			}
		}
		.item-text {
			span {
				color: #fff;
			}
		}
	}
	&:is(._4) {
		background: linear-gradient(180deg, #343472 0%, #8173E0 100%);
	}
}