.ax-workp3-sec {
	.ax-sec-title2 {
		p {
			margin: 0 auto;
			max-width: 570px;
		}
	}
}

.ax-workp3-content {
	gap: 24px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.ax-workp3-item {
	span {
		top: 0;
		right: 0;
		width: 60px;
		height: 60px;
		display: flex;
		font-size: 20px;
		font-weight: 600;
		position: absolute;
		align-items: center;
		justify-content: center;
		background-color: #fff;
		font-family: var(--ax-dm);
		transition: all 500ms ease-in-out;
		border-radius: 16px 40px 16px 16px;
	}
	.inner-item {
		height: 409px;
		background-color: #fff;
		padding: 32px 32px 40px;
		clip-path: polygon( 0% 5.868%,0% 5.868%,0.098% 4.916%,0.38% 4.013%,0.832% 3.171%,1.438% 2.402%,2.183% 1.719%,3.052% 1.132%,4.028% 0.655%,5.098% 0.299%,6.244% 0.077%,7.453% 0%,50% 0%,70.186% 0%,70.186% 0%,71.395% 0.077%,72.542% 0.299%,73.612% 0.655%,74.588% 1.132%,75.457% 1.719%,76.202% 2.402%,76.808% 3.171%,77.26% 4.013%,77.542% 4.916%,77.64% 5.868%,77.64% 11.736%,77.64% 11.736%,77.737% 12.688%,78.02% 13.591%,78.472% 14.433%,79.078% 15.201%,79.823% 15.885%,80.691% 16.472%,81.668% 16.949%,82.737% 17.305%,83.884% 17.527%,85.093% 17.604%,92.547% 17.604%,92.547% 17.604%,93.756% 17.681%,94.902% 17.903%,95.972% 18.259%,96.948% 18.736%,97.817% 19.323%,98.562% 20.006%,99.168% 20.775%,99.62% 21.617%,99.902% 22.52%,100% 23.472%,100% 47.066%,100% 94.132%,100% 94.132%,99.902% 95.084%,99.62% 95.987%,99.168% 96.829%,98.562% 97.598%,97.817% 98.281%,96.948% 98.868%,95.972% 99.345%,94.902% 99.701%,93.756% 99.923%,92.547% 100%,7.453% 100%,7.453% 100%,6.244% 99.923%,5.098% 99.701%,4.028% 99.345%,3.052% 98.868%,2.183% 98.281%,1.438% 97.598%,0.832% 96.829%,0.38% 95.987%,0.098% 95.084%,0% 94.132%,0% 5.868% );
	}
	.item-icon {
		margin-bottom: 35px;
	}
	.item-text {
		h3 {
			font-size: 24px;
			font-weight: 600;
			margin-bottom: 85px;
			padding-bottom: 32px;
			border-bottom: 1px solid #EDF2F8
		}
		p {
			letter-spacing: -.5px;
		}
	}
	&:hover {
		span {
			color: #fff;
			background-color: var(--ax-prime-c3);
		}
	}
}
.ax-workp3-bottom {
	gap: 20px;
	margin-top: 24px;
	border-radius: 24px;
	background-color: #fff;
	padding: 20px;
	.client-text {
		gap: 20px;
		ul {
			display: flex;
		}
		li {
			width: 48px;
			height: 48px;
			overflow: hidden;
			border-radius: 12px;
			margin-left: -12px;
			border: 3px solid #FFFFFF;
			&:first-child {
				margin-left: 0;
			}
		}
	}
	span {
		font-weight: 500;
		letter-spacing: -1px;
		font-family: var(--ax-dm);
		color: var(--ax-title-color2);
	}
}