.ax-hero2-sec {
	height: 100vh;
	@media #{$xl,$lg,$md,$sm,$xs,$xxs} {
		height: auto;
	}
}
.ax-hero2-content {
	margin-top: 72px;
	padding: 0px 72px;
	position: relative;
	@media #{$md,$sm,$xs,$xxs} {
		padding-left: 0;
	}
	@media #{$xxs} { 
		padding-right: 50px;
	}
	&:before {
		left: 36px;
		width: 1px;
		content: '';
		height: 80px;
		bottom: 92px;
		position: absolute;
		background-color: #0000001A;
		@media #{$md,$sm,$xs,$xxs} {
			display: none !important;
		}
	}
	&:after {
		top: 0;
		right: 0;
		width: 72px;
		height: 100%;
		content: '';
		position: absolute;
		background-color: #051229;
	}
	.ax-hr2-shape2 {
		top: 0;
		right: 0;
		z-index: 2;
		width: 240px;
		height: 165px;
		position: absolute;
		background-color: var(--ax-prime-c2);
		@media #{$lg,$md,$sm,$xs,$xxs} {
			display: none !important;
		}
		.item-icon {
			height: 80px;
			margin-top: 20px;
			margin-right: 10px;
			position: relative;
			svg {
				transition: all 500ms ease-in-out;
			}
			&:before {
				left: -20px;
				bottom: 1px;
				width: 24px;
				content: "";
				height: 24px;
				position: absolute;
				border-radius: 100%;
				border: 1px solid #fff;
			}
			&:after {
				width: 8px;
				bottom: 9px;
				height: 8px;
				left: -12px;
				content: '';
				border-radius: 100%;
				position: absolute;
				background-color: #fff;
			}
		}
		&:hover {
			svg {
				transform:  scale(0);
			}
		}
	}
	.hero-shape1 {
		top: 0;
		left: 0;
		width: 72px;
		height: 80px;
		position: absolute;
		&:before {
			top: 0;
			left: 0;
			right: 0;
			width: 1px;
			height: 100%;
			content: '';
			margin: 0 auto;
			position: absolute;
			background-color: #0000001A;
		}
		&:after {
			left: 0;
			right: 0;
			bottom: 0;
			width: 8px;
			height: 8px;
			content: '';
			margin: 0 auto;
			position: absolute;
			border-radius: 100%;
			background-color: var(--ax-prime-c2);
		}
	}
	.hero-social {
		left: 20px;
		z-index: 2;
		width: 32px;
		bottom: 30%;
		height: 140px;
		position: absolute;
		@media #{$md,$sm,$xs,$xxs} {
			display: none !important;
		}
		&:before {
			left: -8px;
			bottom: -35px;
			width: 48px;
			content: '';
			height: 4px;
			position: absolute;
			background-color: var(--ax-prime-c2);
		}
		a {
			width: 32px;
			height: 32px;
			display: flex;
			margin-bottom: 4px;
			align-items: center;
			border-radius: 4px;
			justify-content: center;
			border: 1px solid #0000001A;
		}
	}
}
.ax-hero2-slide-item {
	z-index: 1;
	padding-top: 240px;
	padding-bottom: 240px;
	@media #{$md,$sm,$xs} {
		padding: 180px 0px 120px;
	}
	@media #{$xxs} { 
		padding: 140px 0px 100px;
	}
	.ax-hero2-bg {
		top: 0;
		left: 0;
		z-index: -2;
	}
	.ax-hero2-shape {
		top: 0;
		left: 0;
		z-index: -1;
	}
	.container {
		max-width: 1555px;
	}
}
.ax-hero2-text {
	max-width: 828px;
	.hero-slug {
		z-index: 1;
		color: #fff;
		position: relative;
		margin-bottom: 18px;
		border-radius: 120px;
		display: inline-block;
		&:before {
			bottom: 0;
			width: 100%;
			z-index: -1;
			content: '';
			height: 100%;
			position: absolute;
			border-radius: 120px;
			border: 1px solid #FFFFFF4D;
		}
		span {
			color: #fff;
			font-size: 15px;
			font-weight: 500 ;
			padding: 6px 12px;
			border-radius: 120px;
			background-color: var(--ax-prime-c2);
			i {
				margin-right: 4px;
			}
		}

		b {
			font-size: 15px;
			font-weight: 500;
			padding: 0px 12px;
		}
	}
	.hero_title {
		font-size: 76px;
		font-weight: 700;
		line-height: 1.15;
		letter-spacing: -1px;
		margin-bottom: 20px;
		color: rgba(255, 255, 255, 1);
		span {
			color: rgba(255, 255, 255, .7);
		}
		@media #{$sm} { 
			font-size: 60px;
		}
		@media #{$xs} { 
			font-size: 50px;
		}
		@media #{$xxs} { 
			font-size: 45px;
		}
		@media #{$xxxs} { 
			font-size: 38px;
		}
	}
	.item-desc {
		gap: 20px;
		.item-icon {
			width: 40px;
			height: 40px;
		}
		.item-text {
			color: #fff;
			font-size: 18px;
			max-width: 650px;
		}
	}
}
.item-btn-wrap {
	gap: 12px;
}
.ax-hr2-pagi {
	z-index: 2;
	right: 24px;
	left: auto !important;
	width: auto !important;
	position: absolute;
	top: 48% !important;
	@media #{$xxs} { 
		right: 12px;
	}
	.swiper-pagination-bullet {
		opacity: 1;
		width: 24px;
		height: 24px;
		display: block;
		position: relative;
		margin: 15px 0px !important;
		background-color: transparent;
		&:before {
			top: 0;
			left: 0;
			width: 100%;
			content: '';
			height: 100%;
			position: absolute;
			border-radius: 100%;
			transform: scale(0);
			border: 1px solid #FFFFFF;
			transition: all 500ms ease-in-out;
		}
		&:after {
			top: 34%;
			left: 50%;
			width: 8px;
			height: 8px;
			content: '';
			border-radius: 100%;
			position: absolute;
			background-color: #fff;
			transform: translate(-50%);
		}
		&:is(.swiper-pagination-bullet-active) {
			&:before {
				transform: scale(1);
			}
		}
	}
}

.ax-hero2-bottom {
	left: 0;
	bottom: 0;
	gap: 32px;
	z-index: 2;
	width: 100%;
	position: absolute;
	@media #{$md,$sm,$xs,$xxs} {
		display: none !important;
	}
	.hr2-scroll {
		width: 216px;
		height: 68px;
		background-color: var(--ax-prime-c2);
		a {
			gap: 30px;
			color: #fff;
			display: flex;
			font-size: 15px;
			align-items: center;
		}
	}
}
.ax-hr2-nav {
	gap: 12px;
	width: 74%;
	.ax-hr2-prev,
	.ax-hr2-next {
		color: #fff;
		width: 40px;
		height: 40px;
		cursor: pointer;
		border-radius: 100%;
		background-color:  #FFFFFF1A;
		svg {
			top: 0;
			left: 0;
			position: absolute;
		}
	}
	.line_1 {
		width: 52px;
		height: 1px;
		background-color: #FFFFFF33;
	}
	.line_2 {
		width: 90%;
		height: 1px;
		background-color: #FFFFFF33;
	}
}