.ax-cta4-sec {
	margin: 0px 20px 20px;
}
.ax-cta4-wrap {
	z-index: 1;
	overflow: hidden;
	border-radius: 48px;
	position: relative;
	&:before,
	&:after {
		top: 0;
		left: 0;
		width: 50%;
		height: 100%;
		content: '';
		position: absolute;
		background: linear-gradient(90deg, #00181B 0%, #00181B 15%, #00181B 29.78%, #00181B 45.29%, rgba(0, 24, 27, 0.8) 59.65%, rgba(0, 24, 27, 0.6) 75.01%, rgba(0, 24, 27, 0.4) 89.8%, rgba(0, 24, 27, 0) 100%);
	}
	&:after {
		right: 0;
		left: auto;
		transform: rotate(-180deg);
	}
	.ax-cta4-bg {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
	}
	.ax-sec-title2 {
		max-width: 550px;
		.subtitle,
		.sec_title {
			color: #fff;
		}
	}
}

.ax-cta4-content {
	z-index: 2;
	gap: 30px 40px;
	flex-wrap: wrap;
	position: relative;
}

.ax-cta4-text-desc {
	max-width: 415px;
	p {
		color: #fff;
	}
	.cta4-btn-grp {
		gap: 16px;
		.btn_1 {
			display: flex;

			span {
				font-size: 16px;
				font-weight: 500;
				border-radius: 50px;
				padding: 12px 20px;
				background-color: #fff;
				color: var(--ax-title-color2);
				transition: all 400ms ease-in-out;
			}
			i {
				z-index: 1;
				width: 44px;
				height: 44px;
				display: flex;
				margin-left: -5px;
				position: relative;
				align-items: center;
				border-radius: 100%;
				justify-content: center;
				background-color: var(--ax-prime-c4);
				&:before,
				&:after {
					top: 0;
					left: -5px;
					z-index: -1;
					width: 100%;
					content: '';
					height: 100%;
					position: absolute;
					border-radius: 100%;
					background-color: #fff;
				}
				&:after {
					left: 0px;
					background-color: var(--ax-prime-c4);
				}
			}
			&:hover {
				span {
					letter-spacing: 1px;
				}
			}
		}
		.btn_2 {
			gap: 8px;
			span {
				color: #fff;
				font-weight: 500;
			}
			i {
				width: 48px;
				height: 48px;
				display: flex;
				border-radius: 100%;
				align-items: center;
				background-color: #fff;
				justify-content: center;
			}
		}
	}
}