.ax-hr4-slide-item {
	z-index: 1;
	padding: 295px 0px 235px;
	@media #{$sm,$xs} {
		padding: 200px 0px 150px;
	}
	@media #{$xxs} {
		padding: 180px 0px 100px;
	}
	&:before {
		top: 0;
		right: 0;
		z-index: -1;
		height: 100%;
		width: 100%;
		content: '';
		max-width: 1300px;
		position: absolute;
		background: linear-gradient(270deg, #00181B 0%, #00181B 24.55%, #00181B 50.15%, rgba(0, 24, 27, 0.94) 74.88%, rgba(0, 24, 27, 0.8) 88.04%, rgba(0, 24, 27, 0) 100%);
	}
	.container {
		max-width: 1532px;
	}
	.ax-hr4-bg {
		top: 0;
		left: 0;
		width: 65%;
		z-index: -2;
		height: 100%;
		overflow: hidden;
		img {
			transition: all 900ms ease-in-out;
			transform: scale(1.3) translateX(-150px);
		}
	}
	.ax-hr4-text {
		width: 100%;
		max-width: 780px;
		@media #{$md} {
			max-width: 700px;
		}
		@media #{$sm} {
			max-width: 600px;
		}
		@media #{$xs} {
			max-width: 500px;
		}
		.slide-rate {
			gap: 12px;
			opacity: 0;
			flex-wrap: wrap;
			margin-bottom: 15px;
			transform: translateX(40px);
			transition: all 900ms ease-in-out;
			li {
				color: #fff;
			}
			span {
				color: #fff;
				font-size: 15px;
				font-weight: 500;
				padding: 8px 14px;
				border-radius: 120px;
				background: #FFFFFF14;
			}
		}
		.hero_title {
			color: #fff;
			font-size: 70px;
			font-weight: 600;
			line-height: 1.1;
			letter-spacing: -1px;
			.split-word {
				overflow: hidden;
				transform: translateX(0) scaleX(1.2);
				filter: blur(5px);
				opacity: 0;
				transform-origin: left;
				transition:  1.5s var(--cube-1);
				transition-delay: 0s;
			}
			@media #{$md} {
				font-size: 60px;
			}
			@media #{$sm} {
				font-size: 50px;
			}
			@media #{$xs} {
				font-size: 45px;
			}
			@media #{$xxs} {
				font-size: 40px;
			}
			@media #{$xxxs} {
				font-size: 38px;
			}
		}
		p {
			color: #fff;
			opacity: 0;
			font-size: 18px;
			visibility: hidden;
			max-width: 700px;
			padding-top: 12px;
			letter-spacing: -.5px;
			font-family: var(--ax-dm);
			transform: translateX(40px);
			transition: all 900ms ease-in-out;
		}
	}
	.ax-btn-grp {
		gap: 12px;
		flex-wrap: wrap;
		margin-top: 38px;
		li {
			width: 55px;
			height: 55px;
			opacity: 0;
			overflow: hidden;
			margin-left: 5px;
			border-radius: 100%;
			visibility: hidden;
			border: 3px solid #101D33;
			transition: all 900ms ease-in-out;
			&:first-child {
				margin-left: 0;
			}
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		.ax-btn2 {
			opacity: 0;
			visibility: hidden;
			transform: translateX(30px);
			transition: all 600ms ease-in-out;
		}
	}
}

.swiper-slide-active {
	.ax-hr4-slide-item {
		.ax-hr4-text {
			.slide-rate { 
				opacity: 1;
				transform: translateX(0px);
				transition-delay: 700ms;
			}
			.hero_title {
				.split-word {
					transform: translateX(0%) scaleX(1);
					opacity: 1;
					transition-delay: 0.7s;
					filter: blur(0px);
					&:nth-child(2) {
						transition-delay: 0.9s;
					}
					&:nth-child(3) {
						transition-delay: 1.1s;
					}
					&:nth-child(4) {
						transition-delay: 1.2s;
					}
					&:nth-child(5) {
						transition-delay: 1.3s;
					}
					&:nth-child(6) {
						transition-delay: 1.4s;
					}
					&:nth-child(7) {
						transition-delay: 1.5s;
					}
					&:nth-child(8) {
						transition-delay: 1.6s;
					}
					&:nth-child(9) {
						transition-delay: 1.7s;
					}
					&:nth-child(10) {
						transition-delay: 1.8s;
					}
				}
			}
			p {
				opacity: .8;
				visibility: visible;
				transition-delay: 700ms;
				transform: translateX(0px);
			}
		}
		.ax-hr4-bg {
			img {
				transition-delay: 600ms;
				transform: scale(1) translateX(0px);
			}
		}
		.ax-btn-grp {
			li {
				opacity: 1;
				visibility: visible;
				margin-left: -15px;
				transition-delay: 700ms;
			}
			.ax-btn2 {
				opacity: 1;
				visibility: visible;
				transform: translateX(0px);
				transition-delay: 600ms;
			}
		}
	}
}