.ax-mission-sec {
	.ax-sec-title2 {
		gap: 20px;
		.sec_title {
			max-width: 810px;
		}
		@media #{$md,$sm,$xs,$xxs} {
			flex-wrap: wrap;
		}
	}
}

.ax-mission-content {
	gap:  30px 40px;
	@media #{$md,$sm,$xs,$xxs} {
		flex-wrap: wrap;
		justify-content: center !important;
	}
}

.ax-mis-img {
	width: 100%;
	height: 297px;
	max-width: 437px;
	overflow: hidden;
	border-radius: 24px;
	@media #{$md,$sm,$xs,$xxs} {
		max-width: 100%;
	}
}

.ax-mission-wrap {
	width: 100%;
	max-width: 780px;
	.ax-mission-area {
		width: 100%;
		display: grid;
		gap: 30px 60px;
		grid-template-columns: 1fr 1fr;
		@media #{$sm,$xs,$xxs} {
			grid-template-columns: 1fr;
		}
	}
}

.ax-mission-item {
	.item-icon {
		width: 72px;
		height: 72px;
		margin-bottom: 20px;
		border-radius: 16px;
		background-color: #F4F4F5;
	}
	.item-text {
		h3 {
			color: #121212;
			font-size: 24px;
			font-weight: 600;
			padding-bottom: 8px;
		}
	}
}