.ax-price4-sec {
	z-index: 1;
	margin: 0px 20px;
	.ax-price-bg {
		top: 0;
		left: 0;
		width: 100%;
		z-index: -1;
		height: 100%;
	}
}

.ax-price4-wrap {
	overflow: hidden;
	border-radius: 48px;
}
.ax-price4-text {
	width: 100%;
	max-width: 460px;
	h2 {
		color: #fff;
		font-size: 44px;
		font-weight: 600;
		padding-bottom: 55px;
		letter-spacing: -1.5px;
	}
}

.ax-price4-btn {
	padding: 8px;
	border-radius: 24px;
	background: #05122966;
	border: 1px solid #FFFFFF1A;
	.nav-link {
		padding-left: 0;
	}
}

.ax-pri4-btn-item {
	display: flex;
	margin-bottom: 8px;
	padding: 10px 20px;
	align-items: center;
	border-radius: 20px;
	justify-content: space-between;
	backdrop-filter: blur(5px);
    background: linear-gradient(153.32deg, rgba(255, 255, 255, 0.1) -65.62%, rgba(255, 255, 255, 0.1) 83.28%);
	&:last-child {
		margin-bottom: 0;
	}
	.item-text {
		h3 {
			color: #fff;
			font-size: 20px;
			font-weight: 600;
			letter-spacing: -1px;
			padding-bottom: 5px;	
		}
		span {
			color: #E5E5E5;
			letter-spacing: -.5px;
		}
	}
	i {
		width: 32px;
		height: 32px;
		display: flex;
		align-items: center;
		border-radius: 100%;
		justify-content: center;
		border: 1px solid #FFFFFF;
	}
}