.ax-pro4-sec {
	margin: 0px 20px;
	@media #{$xs,$xxs} {
		margin: 0;
	}
}
.ax-pro4-wrap {
	border-radius: 48px;
	background-color: #00181B;
	.ax-sec-title2 {
		.subtitle {
			color: #fff;
		}
		.sec_title {
			color: #fff;
		}
		p {
			color: #fff;
			margin: 0 auto;
			max-width: 650px;
		}
	}
}

.ax-pro4-area {
	gap: 26px;
}

.ax-pro4-item-wrap {
	position: relative;
	margin-bottom: 24px;
	border-radius: 32px;

	background-color: #002226;
}

.ax-pro4-item {
	gap: 30px 0;

	@media #{$md,$sm,$xs,$xxs} {
		flex-wrap: wrap;
	}
	.item-img {
		max-width: 508px;
		overflow: hidden;
		border-radius: 32px;
		img {
			transition: all 500ms ease-in-out;
		}
		@media #{$md,$sm,$xs,$xxs} {
			height: 420px;
			max-width: 100%;
		}
	}
	.item-text {
		padding: 40px;
		max-width: 850px;
		@media #{$xs,$xxs} {
			padding: 30px 20px;
		}
		h3 {
			color: #fff;
			font-size: 28px;	
			font-weight: 600;
			max-width: 750px;
			padding-bottom: 18px;
			border-bottom: 1px solid #FFFFFF1A;
		}
		.item-desc-area {
			.item-desc {
				margin-bottom: 16px;
				h4 {
					color: #fff;
					font-size: 18px;
					font-weight: 600;
					padding-bottom: 7px;
				}
				p {
					color: #E5E5E5;
					font-size: 18px;
					max-width: 750px;
				}
			}
		}
		.item-count-wrap {
			gap: 12px;
			flex-wrap: wrap;
			.item-count {
				width: 218px;
				height: 120px;
				padding: 22px;
				border-radius: 16px;
				border: 1px solid #FFFFFF1A;
				h5 {
					color: #fff;
					font-size: 20px;
					font-weight: 600;
					letter-spacing: -0.5;
					padding-bottom: 8px;
				}
				p {
					color: #E5E5E5;
					line-height: 1.3;
				}
				&:nth-child(2) {
					width: 170px;
				}
			}

		}
		.read_more {
			gap: 16px;
			color: #fff;
			display: flex;
			font-size: 16px;
			align-items: center;
			font-family: var(--ax-dm);
			&:hover {
				letter-spacing: 1px;
			}
		}
		.item-bottom {
			gap: 15px;
		}
	}
	&:hover {
		.item-img {
			img {
				transform: scale(1.05);
			}
		}
	}
}

.mx-wc2-scrolbar {
	@media #{$xl,$lg,$md,$sm,$xs,$xxs} {
		display: none;
	}
	.wc2-scroler {
		width: 2px;
		left: -26px;
		height: 700px;
		position: absolute;
		background-color: #FFFFFF26;
		.wc2-scrbar {
			top: 0;
			left: 0;
			width: 2px;
			height: 60px;
			position: absolute;
			background-color: #FFFFFF26;
			&:before {
				left: 0;
				bottom: 0;
				height: 60px;
				width: 100%;
				content: '';
				position: absolute;
				background-color: #FFFFFF;
			}
		}
	}
}