.ax-testi4-sec {
	.ax-sec-title2 {
		p {
			margin: 0 auto;
			max-width: 505px;
		}
	}
}

.ax-testi4-content {
	gap: 12px;
	margin: 0 auto;
	display: grid;
	margin-top: 60px;
	max-width: 1180px;
	grid-template-columns: 1fr 1fr 1fr;
	@media #{$md,$sm,$xs,$xxs} {
		grid-template-columns: 1fr 
	}
}
.ax-testi4-item-wrap {
	@media #{$md,$sm,$xs,$xxs} {
		padding-top: 0;
	}
}
.ax-testi4-item {
	overflow: hidden;
	border-radius: 32px;
	margin-bottom: 12px;
	.item-img {
		&:is(.ver_2) {
			height: 532px;
		}
		@media #{$md,$sm,$xs,$xxs} {
			height: 350px;
		}
	}
	.item-inner {
		&:before {
			left: 0;
			bottom: 0;
			width: 100%;
			height: 60%;
			content: '';
			position: absolute;
			border-radius: 32px;
			background: linear-gradient(360deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
		}
	}
	.item-text {
		left: 40px;
		z-index: 2;
		right: 20px;
		bottom: 40px;
		position: absolute;
		p {
			color: #fff;
			font-size: 20px;
			font-weight: 500;
			max-width: 306px;
			letter-spacing: -1px;
			margin-bottom: 22px;
		}
		.item-author {
			h3 {
				color: #fff;
				font-size: 18px;
				font-weight: 600;
				letter-spacing: -.5px;
			}
			span {
				color: #fff;
				font-size: 16px;
			}
		}
	}
}

.ax-testi4-bottom {
	gap: 20px;
	margin: 0 auto;
	flex-wrap: wrap;
	max-width: 1180px;
}
.ax-testi4-rate {
	gap: 40px 20px;
	.item-text {
		h3 {
			font-size: 24px;
			font-weight: 600;
			letter-spacing: -1px;
			margin-right: 8px;
		}
		li {
			color: #F9B600;
			font-size: 16px;
		}
	}
	span {
		opacity: .8;
		font-size: 16px;
	}
}
.ax-avatar4 {
	max-width: 385px;
	.cl-img-list {
		gap: 16px;
		ul {
			display: flex;
		}
		li {
			width: 48px;
			color: #fff;
			height: 48px;
			display: flex;
			font-weight: 600;
			overflow: hidden;
			align-items: center;
			margin-left: -15px;
			border-radius: 100%;
			justify-content: center;
			border: 2px solid #FFFFFF;
			background-color: #006D77;
			&:first-child {
				margin-left: 0;
			}
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		span {
			font-size: 18px;
			line-height: 1.3;
			max-width: 205px;
			letter-spacing: -1px;
			font-family: var(--ax-sora);
		}
	}
}