.ax-workp4-sec {
	.ax-sec-title2 {
		margin: 0 auto;
		max-width: 650px;
		p {
			margin: 0 auto;
			max-width: 600px;
		}
	}
}

.ax-workp4-wrapper {
	margin: 0 auto;
	max-width: 524px;
	@media #{$lg,$md,$sm,$xs,$xxs} {
		display: flex;
		gap: 30px 15px;
		max-width: 100%;
		padding-left: 15px;
		padding-right: 15px;
		margin-bottom: 60px;
	}
	@media #{$md,$sm,$xs,$xxs} {
		flex-wrap: wrap;
	}
}


.ax-workp4-item {
	margin: 0 auto;
	overflow: hidden;
	max-width: 417px;
	border-radius: 32px;
	position: relative;
	span {
		top: 32px;
		right: 32px;
		font-size: 32px;
		font-weight: 600;
		position: absolute;
		font-family: var(--ax-sora);
		color: var(--ax-title-color2);
	}
	.item-text {
		left: 0;
		bottom: 0;
		z-index: 1;
		padding: 32px;
		position: absolute;
		border-radius: 32px;
		backdrop-filter: blur(50px);
		box-shadow: 0px 4px 24px -1px #00000033;
		background: linear-gradient(153.32deg, rgba(255, 255, 255, 0.3) -65.62%, rgba(255, 255, 255, 0.1) 83.28%);
		@media #{$xxs} {
			padding: 20px;
		}
		h3 {
			color: #fff;
			font-size: 24px;
			font-weight: 600;
			padding-bottom: 10px;
			@media #{$xxs} {
				font-size: 20px;
			}
		}
		p {
			color: #fff;
			font-size: 18px;
			font-weight: 500;
			@media #{$xxs} {
				font-size: 16px;
			}
		}
	}
	&:is(._1),
	&:is(._2) {
		top: 0;
		left: 0;
		right: 0;
		position: absolute;
		@media #{$lg,$md,$sm,$xs,$xxs} {
			position: relative;
			transform: rotate(0);
		}
	}
	&:is(._1) {
		transform: rotate(12deg);
		@media #{$lg,$md,$sm,$xs,$xxs} {
			transform: rotate(0);
		}
	}
	&:is(._2) {
		transform: rotate(-12deg);
		@media #{$lg,$md,$sm,$xs,$xxs} {
			transform: rotate(0);
		}
	}
}
.ax-workp4-marquee {
	top: 42%;
	left: -5%;
	width: 110%;
	z-index: -1;
	display: flow-root;
	position: absolute;
	padding: 34px 0 30px;
	background-color: #00181B;
	transform: rotate(5deg);
	@media #{$lg,$md,$sm,$xs,$xxs} {
		position: static;
		transform: rotate(0deg);
	}
	&:nth-child(2) {
		transform: rotate(-5deg);
		background-color: var(--ax-prime-c4);
		@media #{$lg,$md,$sm,$xs,$xxs} {
			transform: rotate(0deg);
		}
	}
	h3 {
		color: #fff;
		font-size: 40px;
		line-height: .8;
		font-weight: 500;
		display: inline-block;
	}
	i {
		top: -10px;
		margin: 0px 5px;
		position: relative;
	}

}